{% extends "admin/base.html" %}
{% load static %}

{% block title %}DigiChanger Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/logo.png' %}" alt="Logo">
        DigiChanger Admin
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" type="image/x-icon" href="{% static 'admin/img/logo.png' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}
